.container#account
  .row
    = render 'florist/dashboard/left_menu'
    .user-info
      - if current_user.company
        %h3 Ваши букеты
        = link_to 'Добавить букет', new_florist_product_path, class: 'btn btn-primary my-3'
        .row.card-deck
          = render(@products) || '<p class="ml-3">Вы не добавили ни одного букета</p>'.html_safe
      - else
        %h3 Добавьте сначала магазин


