.container#account
  .row
    = render 'florist/dashboard/left_menu'
    .user-info
      %h3 Ваши букеты
      = link_to 'Добавить букет', new_florist_product_path, class: 'btn btn-primary my-3'
      .row.card-deck
        = render(@products) || 'Вы не добавили ни одного букета'

