.jumbotron-fluid.d-flex.align-items-center
  .container
    .row.justify-content-end
      #main
        %h1.text-center
          Свежие цветы и букеты с доставкой от лучших флористов Ижевска!
        %hr.my-1
        %p.text-center
          Не нужно бегать по городу в поисках идеального букета. Все они собраны в одном месте. Посмотрите.
        .lead.text-center
          = link_to 'Посмотреть каталог', products_path, class: 'btn btn-primary'
