.jumbotron-fluid.d-flex.align-items-center
  .container
    .row.justify-content-end
      .form-wrapper.text-center
        %h2.my-3
          Регистрация флориста
        %hr.my-2
        .lead.my-2
          Зарегиструйтесь бесплатно и начните продавать букеты уже сегодня
        = render 'form'

