.jumbotron-fluid.d-flex.align-items-center
  .container
    .row.justify-content-center
      .form-wrapper.text-center
        %h2.my-2 Создайте аккаунт
        %hr.my-3
        = render 'form'

