.account-menu
  %ul.nav.flex-column
    %li.nav-item.text-center
      %h5
        Мой аккаунт
    %hr.my-3
    %li.nav-item
      = link_to florist_account_path, class: 'd-flex align-items-center' do
        %i.fa.fa-user-o
        Личная информация
    %hr.my-3
    %li.nav-item
      = link_to florist_companies_path, class: 'd-flex align-items-center' do
        %i.fa.fa-shopping-bag
        Мой магазин
    %hr.my-3
    %li.nav-item
      = link_to florist_products_path, class: 'd-flex align-items-center' do
        %i.fa.fa-asterisk
        Букеты
    %hr.my-3
    %li.nav-item
      = link_to '#', class: 'd-flex align-items-center' do
        %i.fa.fa-history
        История заказов
    %hr.my-3
