.container#account
  %h1.h3
    Доставка цветов в Ижевске
  %h2.h5.text-success
    Цветы на любой вкус и бюджет от лучших флористов
  %hr.my-4
  .row
    = render 'customer/products/products_menu'
    .col-10.card-deck
      = render collection: @products, partial: 'thumb_product', as: :product

