.container#account
  %h1.h3
    Доставка цветов в Ижевске
  %h2.h5.text-success
    Цветы на любой вкус и бюджет от лучших флористов
  %hr.my-4
  .row
    .col-2#menu.d-none.d-lg-block
      = render 'customer/products/products_menu'
    .col-12.d-lg-none
      = render 'layouts/resp_menu'
    #products
      .col-12.lead.mb-2.d-none.d-md-block#count
        Всего #{@products.count} букетов
      .col-12.card-deck
        = render(collection: @products, partial: 'thumb_product', as: :product, cached: true) || 'Ничего не найдено!'

