/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import 'jquery-ui';
@import 'variables';
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'header';
@import 'products';
@import 'companies';
@import 'carts';
@import 'main';
@import 'users';
@import 'resp_menu';
@import url('https://fonts.googleapis.com/css?family=Gabriela');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import "bootstrap";


body {
  width: 100%;
  height: 100%;
  position: absolute;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
}


input[type='submit'] {
  cursor: pointer;
}

#flash {
  position: absolute;
  z-index: 999;
  top: 5rem;
  right: 4rem;
  font-size: 1.2rem;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}
.img-cover {
    height: 100%;
    object-fit: cover;
  }

.card hr {
  width: 100%;
}

html {
  font-size: 16px;
}

.bg-brand {
  background: $brand-primary;
  color: #ffffff;
}

.btn-outline-white {
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  &:hover {
    background: #ffffff;
    color: $brand-primary;
  }
}

.tooltip-arrow, .tooltip-inner {
  background: $brand-primary;
  font-family: 'Open Sans', sans-serif;
}

label {
  font-weight: 700;
}

#return-to-top {
  z-index: 999;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: $brand-primary;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 13px;
    top: 13px;
    font-size: 1.5em;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(darken($brand-primary, 10%), 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 0.1em;
}

.border-right {
  border-right: 1px solid $brand-success;
}
