input[type='radio'].toggle {
  display: none;
}

label.btn {
  cursor: pointer;
}

#checkout-menu {
  width: 100%;
  background: $brand-success;
  color: white;
  .nav-link {
    color: white;
    border-radius: 0;
  }
  .active {
    color: $brand-success;
    border: 1px solid $brand-success;
  }
}

.cart-products {
  @include make-col-ready();
  @include make-col(12);
}


.product-info, .cart-info {
  @include make-col-ready();
  @include make-col(6);
}

.add-sub-products {
  @include make-col(12);
}

.balloons {

}

#card-toggle {
  i {
    font-size: 1.5em;
    margin-right: 0.5rem;
    color: $brand-primary;
  }
}

#slider, #slider_call {
  cursor: pointer;
  input {
    display: none;
  }
  label {
    -webkit-transition: 1s;
    transition: 1s;
    cursor: pointer;
  }
  label:before {
    font-family: FontAwesome;
    content: "\f204";
    -webkit-transition: 1s;
    transition: 1s;
    font-size: 1.8rem;
    color: $brand-primary;
    margin-right: 0.5rem;
  }
  input:checked + label:before {
    content: "\f205";
    -webkit-transition: 1s;
    transition: 1s;
  }

}
