// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/.

.shop-header a {
  color: white;
}

#rate {
  display: inline-block;
  margin-right: 1rem;
}

#company-logo {
  @include media-breakpoint-up(lg){
    @include make-col(1);
  }

  @include media-breakpoint-down(lg){
    @include make-col(3);
  }

}
#company-info {
  @include media-breakpoint-up(lg){
    @include make-col(8);
  }
  @include media-breakpoint-down(lg){
    @include make-col(9);
  }
}

#company-contacts {
  @include media-breakpoint-up(lg){
    @include make-col(3);
  }
  @include media-breakpoint-down(lg){
    @include make-col(9);
  }
}

#company-nav {

}

@include media-breakpoint-up(md) {
  #company-logo{
    .img-cover {
      width: 100%;
      height: auto;
    }
  }
}

#comment {

}

#write-review {
  @include media-breakpoint-up(lg){
    @include make-col(12);
  }
  @include media-breakpoint-down(lg){
    @include make-col(11);
  }
}
