// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/.

.shop-header a {
  color: white;
}

#rate {
  display: inline-block;
  margin-right: 1rem;
}

#company-logo {

}
#company-info {

}

#company-contacts {

}

#company-nav {

}

@include media-breakpoint-up(md) {
  #company-logo{
    .img-cover {
      width: 100%;
      height: auto;
    }
  }
}

#comment {

}

#write-review {

}
