#header {
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
}
#navbar {
  .navbar-nav {
    @include media-breakpoint-up(md) {
      li {
        padding-left: 2rem;
      }
    }
    @include media-breakpoint-down(lg){
      margin-top: 1rem;
      li {
        font-size: 1.3rem;
        // margin: 0.5rem 0;
      }
    }


  }
  .dropdown-toggle {
    cursor: pointer;
  }
  .dropdown-menu {
    min-width: 15rem;
    left: -5rem;
  }
}



.navbar-toggler{
  cursor: pointer;
  i {
    font-size: 2rem;
    cursor: pointer;
  }

}


.navbar-brand {
  img {
    max-height: 3rem ;
  }
}

.nav-link {
  padding: 0.5em 0.5em !important;
}

