.jumbotron-fluid {
  background: image-url('main.jpg') no-repeat;
  background-size: cover;
  height: 700px;

}
#main {
  @include make-col-xs(12);
  @include make-col-sm(12);
  @include make-col-md(8);
  @include make-col-lg(5);
  @include make-col-xl(5);
  background: transparentize(#ffffff, 0.2);
  padding: 1rem;
  h1 {
      margin-bottom: 1rem;
      font-size: 1.5em;
    }
}

hr {
  border-top: 1px solid transparentize($brand-success, 0.65) !important;
  margin-bottom: 1rem !important;
  }
