.jumbotron-fluid {
  background: image-url('main.jpg') no-repeat;
  background-size: cover;
  height: 700px;

}
#main {
  background: transparentize(#ffffff, 0.2);
  padding: 1rem;
  h1 {
      margin-bottom: 1rem;
      font-size: 2rem;
    }

  @include media-breakpoint-up(md){
    @include make-col(12);
  }
}

hr {
  border-top: 1px solid transparentize($brand-success, 0.65) !important;
  margin-bottom: 1rem !important;
  }
