// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#price {
  font-weight: 700;
  color: $brand-primary;
  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
}

#delivery {
  line-height: 0.7rem;
  text-align: center;
  padding: 15px 15px;
  margin-bottom: 0;
  i {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  &:hover {
    border: 1px solid transparentize($brand-primary, 0.65)
  }
}

.card {
  margin-bottom: 1.5rem;
  &:hover {
    border: 1px solid transparentize($brand-primary, 0.65)
  }
  .card-title {
    margin-top: 1rem;
  }
}

#products {
  min-width: 100%;
}

#company-img {
  @include make-col-xs(4);
  @include make-col-sm(4);
  @include make-col-md(4);
  @include make-col-lg(4);
  @include make-col-xl(4);
}

#company-desc {
  @include make-col-xs(8);
  @include make-col-sm(8);
  @include make-col-md(8);
  @include make-col-lg(8);
  @include make-col-xl(8);
}

#product-img, #product-desc {
  @include make-col-xs(12);
  @include make-col-sm(12);
  @include make-col-md(6);
  @include make-col-lg(6);
  @include make-col-xl(6);
}

#first-btn, #second-btn, #third-btn {
  @include make-col-xs(12);
  @include make-col-sm(12);
  @include make-col-md(4);
  @include make-col-lg(4);
  @include make-col-xl(4);
}

