.form-wrapper {

  background: transparentize(#ffffff, 0.2);
}

.account-menu {

}

.user-info {

}

#account {
  margin: 2rem auto;

}

.account-menu {
  border: 1px solid $brand-success;
  border-radius: 4px 0 0 4px;
  max-height: 100%;
  padding: 1rem 15px;
  i {
    font-size: 1.5rem;
    margin-right: 1rem;
    text-decoration: none;

  }

  hr {
    width: 100%;
  }

}
.user-info {
  padding: 1rem 15px;
  border: 1px solid $brand-success;
  border-radius: 0 4px 4px 0;
}
